<header
  class="flex justify-between items-center font-dm w-full h-[94px] px-[48px]  bg-[#2C2B27]/10 border-[#F7F4EF]/30 backdrop-blur-[4px]">
  <img src="/images/homepage/logo.svg" alt="" class="w-[168px] h-[101px]">
  <nav class=" w-[833px] ">
    <ul class="flex gap-[15px] w-full items-center justify-between text-white">
      <li>About</li>
      <li>Rooms</li>
      <li>Amenities</li>
      <li>Events</li>
      <li>Experience</li>
      <li>Gallery</li>
      <li>Blogs</li>
      <li>Contact</li>
    </ul>
  </nav>
  <button
    class="bg-[#FFE89D]/80 px-[32px] py-[14px] rounded-[12px]  h-[49px] whitespace-nowrapse text-white shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)]">
    Inquire Now
  </button>
</header>
