@import "tailwindcss";

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-car: "Cormorant Garamond", serif;
  --font-fraunces: "Fraunces", serif;
  --font-outfit: "Outfit", sans-serif;
  --color-golden:#C5A45D;
  --color-ivory:#F7F3EA;
  --color-pinkish-white:#F3EFE7;
  --color-dark-green:#183A32;
  --color-blush:#EDCFC6;
  --color-cream:#F7F1E8;
  --color-dark:#252A27;
  --color-shade:#2C2B27;
}
